.projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-title {
        width: 60%;
        height: 10vh;
        display: flex;
        align-items: center;
        color: #b78787;
        font-family: 'Open Sans';
        margin-top: 15vh;
        opacity: 0;

        &.fadein {
            opacity: 1;
            margin-top: 10vh;
            transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        h2 {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 40px;

            &::after {
                content: "";
                height: 1px;
                width: 350px;
                background-color: #b78787;
                margin-left: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .projects {
        .projects-title {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        .projects-title {
            width: 100%;

            h2 {
                font-size: 28px;
                justify-content: center;

                &::after {
                    display: none;
                }
            }
        }
    }
}