.projects {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    opacity: 0;
    margin-top: 15vh;

    &.fadein {
        opacity: 1;
        margin-top: 10vh;
        transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .projects-title {
        width: 60%;
        height: 10%;
        display: flex;
        align-items: center;
        color: #b78787;
        font-family: 'Open Sans';
        margin-top: 15vh;

        h2 {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 40px;

            &::after {
                content: "";
                height: 1px;
                width: 350px;
                background-color: #b78787;
                margin-left: 20px;
            }
        }
    }

    .projects-carousel {
        width: 80%;
        height: 90%;
        display: flex;
        align-items: center;

        .projects-carousel-button {
            width: 5%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .projects-carousel-cards {
            height: 100%;
            width: 90%;
            overflow: hidden;
            position: relative;
            z-index: 0;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .projects {
        .projects-title {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        .projects-title {
            width: 100%;

            h2 {
                font-size: 28px;
                justify-content: center;

                &::after {
                    display: none;
                }
            }
        }
    }
}