.profile {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';

    .profile-items{
        height: 70%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        margin-top: 5%;

        &.profile-items-fadein {
            opacity: 1;
            margin-top: 0;
            transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95) 0.80s;
        }

        .get-in-touch-container {
            width: 70%;
            display: flex;
            padding-left: 6%;

            .get-in-touch {
                width: 150px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                color: cadetblue;
                text-decoration: none;
                border: 1px solid cadetblue;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

                &:hover {
                    background-color: #092d3e;
                    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
        }

        .profile-content-container {
            width: 60%;

            .profile-content {
                display: flex;
                flex-direction: column;
                letter-spacing: 1px;
                width: 80%;
                padding-left: 10%;
                padding-right: 10%;
                margin-top: 12%;
                color: aliceblue;
                letter-spacing: 1px;

                h1 {
                    font-size: 54px;
                    color: #b19d9d;
                }

                h2 {
                    font-size: 36px;
                }

                .alternate-text {
                    font-size: 36px;
                }

                span {
                    font-size: 18px;
                }

                p {
                    padding-top: 20px;
                    font-size: 16px;
                }
            }
        }

        .profile-image-container {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-image-border {
                border: 2px solid white;
                border-radius: 50%;
                width: 250px;
                height: 250px;

                .profile-image {
                    position: relative;
                    z-index: 1;
                    width: 250px;
                    height: 250px;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        transform: scale(0.60);
                        transform-origin: -10% 0%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .profile {
        height: 100%;
        width: 100%;
        margin-top: 10vh;
        margin-bottom: 0;

        .profile-items {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .get-in-touch-container {
                width: 80%;
                margin: 0 10% 0 10%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 0;

                .get-in-touch {
                    font-size: 1.2rem;
                }
            }

            .profile-content-container {
                height: 60%;
                width: 100%;

            }

            .profile-image-container {
                height: 30%;
                width: 100%;
                margin: 5% 0 5% 0;
            }
        }
    }
}