.experience-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    margin-top: 15%;

    &.fadein {
        opacity: 1;
        margin-top: 5%;
        transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .experience-heading {
        width: 80%;
        margin: 0 10%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans';
        margin-bottom: 30px;

        h2 {
            font-size: 40px;
            display: flex;
            align-items: center;
            color: #5d6550;

            &::after {
                content: "";
                height: 1px;
                width: 350px;
                background-color: #b78787;
                margin-left: 20px;
            }
        }
    }

}

@media only screen and (max-width: 1200px) {
    .experience-container {
        .experience-options {
            .experience-option {
                height: 35%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .experience-container {

        .experience-heading {
            width: 100%;
            margin: 0;
            margin-bottom: 10%;

            h2 {
                font-size: 24px;

                &::after {
                    display: none;
                }
            }
        }

    }
}