.mail-component {
    height: 100%;
    width: 10vw;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans';
    opacity: 0;

    &.display {
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.25, 0.45, 0.45, 0.95) 0.25s;
    }

    .mail-container {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15%;

        a {
            text-decoration: none;
            color: azure;
            writing-mode: vertical-lr;
            letter-spacing: 4px;
            transform: rotate(180deg);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;

            &:hover, :focus {
                color: white;
                transform: translateY(-3px) rotate(180deg);
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
    }

    .mail-line-container {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 3px;

        .mail-line {
            height: 100%;
            width: 1px;
            background-color: azure;
        }
    }
}