@media only screen and (max-width: 600px) {
    .MuiPaper-root {
        min-width: 200px !important;
        width: 240px !important;
        height: 460px !important;

        .MuiTypography-root {
            font-size: 12px !important;
        }

        .MuiCardHeader-content {
            span {
                font-size: 12px !important;
            }
        }

        .MuiButtonBase-root {
            span {
                font-size: 12px !important;
            }
        }

        .fa-github {
            font-size: 20px !important;
        }

        .fa-external-link-alt {
            font-size: 16px !important;
        }
    }
}