h2 {
    font-size: 36px;

    span {
        font-size: 36px !important;
    }

    .animate-cursor {
        display: inline-block;
        width: 15px;
        border-bottom: 1px solid white;
        animation: blinker 400ms linear infinite;

        @keyframes blinker {
            50% {
              opacity: 0;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    h2 {
        span {
            &::before {
                content: '\a';
                white-space: pre;
            }
        }
    }
}