h2 {
    font-size: 31px;

    span {
        font-size: 31px !important;
    }

    .animate-cursor {
        display: inline-block;
        width: 15px;
        border-bottom: 1px solid white;
        animation: blinker 400ms linear infinite;

        @keyframes blinker {
            50% {
              opacity: 0;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    h2 {
        font-size: 25px !important;

        span {
            font-size: 25px !important;

            &::before {
                content: '\a';
                white-space: pre;
            }
        }
    }
}