.description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';

    .descpription-heading {
        height: 25%;
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        justify-content: center;

        h2 {
            font-size: 26px;

            .role {
                color: #847979;
            }

            .company {
                color: #acb2f7;
            }
        }

        span {
            padding-bottom: 1%;
        }
    }

    .description-details {
        height: 75%;
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-left: 5%;

        ul {
            height: 100%;
            list-style: circle;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 5%;
            padding-right: 2%;
        }
    }
}

@media only screen and (max-width: 400px) {
    .description {

        .descpription-heading {
            height: 20%;

            h2 {
                .role, .company {
                    font-size: 22px !important;
                }
            }

            span {
                padding-top: 1%;
            }
        }

        .description-details {
            padding-top: 10%;
        }
    }
}