.experience {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';

    .experience-items {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        opacity: 0;

        &.fadein {
            opacity: 1;
            margin-top: 5%;
            transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        .experience-heading {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: flex-end;
            font-family: 'Open Sans';


            h2 {
                width: inherit;
                font-size: 40px;
                padding-left: 7%;
                display: flex;
                align-items: center;
                color: #5d6550;

                &::after {
                    content: "";
                    height: 1px;
                    width: 350px;
                    background-color: #b78787;
                    margin-left: 20px;
                }
            }
        }

        .experience-container {
            width: 100%;
            height: 80%;
            display: flex;

            .experience-titles {
                height: 80%;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;

                .experience-titles-container {
                    width: 60%;
                    margin-left: 40%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;

                    .experience-title {
                        font-family: inherit;
                        height: 25%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        background: transparent;
                        border: none;
                        color: white;
                        border: 3px solid transparent;
                        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #092d3e;
                            border-radius: 5px;
                            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
                        }

                        &.active {
                            color: darkgrey;
                            border: 3px solid #164d7b;
                            background-color: #092d3e;
                            border-radius: 5px;
                            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                        }
                    }
                }
            }

            .experience-descriptions {
                height: 100%;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                .experience-description-container {
                    height: 70%;
                    width: 80%;
                    margin: 10%;
                    color: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .experience {
        margin-top: 5%;

        .experience-items {
            width: 100%;
            height: 100%;

            .experience-heading {
                height: 10%;
                align-items: center;

                h2  {
                    padding-left: 0;
                    width: 100%;
                    font-size: 28px;
                    display: initial;
                    text-align: center;

                    &::after  {
                        display: none;
                    }
                }
            }

            .experience-container {
                height: 90%;
                flex-direction: column;

                .experience-titles {
                    width: 100%;
                    height: 10%;

                    .experience-titles-container {
                        width: 96%;
                        height: 100%;
                        margin: 0;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        .experience-title {
                            width: 33%;
                            height: 100%;
                        }
                    }
                }

                .experience-descriptions {
                    width: 100%;
                    height: 70%;
                    margin-top: 5%;

                    .experience-description-container {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .experience {
        .experience-items {
            width: 85%;
            height: 85%;
        }
    }
}