a {
    text-decoration: none;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: scroll;
    background: black;
}

.App {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100vw;
    font-family: 'Open Sans';
    box-sizing: border-box;
}